body {
  text-align: center;
}


h1 {
  margin: 0 auto;
  font-style: italic;
}


form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


label,
input {
  border-color: gray;
  border-width: 2px;
  border-style: solid;
}


#grid {
  margin: auto;
  align-self: center;
  width: 90%;
  height: 90%;
  padding: 0px;
}


.grid-selection {
  width: 60px;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}


.choose-selection {
  height: 20px;
  width: 132px;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  vertical-align: bottom;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.pixel {
  background-color: white;
  border: 1px solid black;
}
